

<!-- <app-header fxLayout="column"></app-header>

<div fxLayout="row" fxFlex="100">
  <app-sidebar fxLayout="column" fxFlex="300px"></app-sidebar>
  <div class="content" fxLayout="column" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer fxLayout="column"></app-footer> -->


<div class='main'>

    <div class='app-header'>
        <app-header> </app-header>
    </div>

    <div class='app-sidebar'>
        <app-sidebar></app-sidebar>
    </div>

    <div class='app-body'>
        <router-outlet></router-outlet>
    </div>

    <div class="app-footer">
        <app-footer fxLayout="column"></app-footer> 
    </div>

</div>