<div class="form">
    <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
     
      
      <div class="password">
        <label for="">Passsword:</label>
        <input type="password" placeholder="new Password" formControlName="newPassword"
        required />
  
        <div
      *ngIf="setPasswordForm.controls.newPassword?.invalid && (setPasswordForm.controls.newPassword?.dirty || setPasswordForm.controls.newPassword?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="setPasswordForm.controls.newPassword.errors?.['required']">New Password is required.</div>
    </div>
      </div>

      <div class="password">
        <label for="">Conform Passsword:</label>
        <input type="password" placeholder="Enter same Password" formControlName="conformPassword"
        required />
  
        <div
      *ngIf="setPasswordForm.controls.conformPassword?.invalid && (setPasswordForm.controls.conformPassword?.dirty || setPasswordForm.controls.conformPassword?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="setPasswordForm.controls.conformPassword.errors?.['required']">Password is required.</div>
    </div>
      </div>
  
    <div>
      <button type="submit">Set Password</button>
    </div>
  </form>
  
    <div class="btn">
      <a routerLink="/login">Go To Login</a>
     
    </div>
  </div>
