<div class="form">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="email">
        <label for="">Email:</label>
        <input
          type="email"
          formControlName="email"
          required
          placeholder="email"
        />
  
        <span
      *ngIf="forgetPasswordForm.controls.email?.invalid && (forgetPasswordForm.controls.email?.dirty || forgetPasswordForm.controls.email?.touched)"
      class="alert alert-danger"
    >
      <span *ngIf="forgetPasswordForm.controls.email.errors?.['required']">email is required.</span>
      <span *ngIf="forgetPasswordForm.controls.email.errors?.['email']">
        email must be valid.
      </span>
    </span>
      </div>
      
  
    
  
    <div>
      <button type="submit">Forget Password</button>
    </div>
  </form>
  
    <div class="btn">
      <a routerLink="/login">Login</a>
    </div>
  </div>
